@require '~variables';

.Section {
    padding: 1rem;
    width: 100%;

    h3 {
        font-size: $size-xl;
        margin: $size-m 0;
    }

    &__content {
        &.three-grid {
            > article {
                width: 100%;
                max-width: 31%;
                display: inline-block;
                margin: 1.5%;
                box-sizing: border-box;

                &:nth-child(-n+3) {
                    margin-top: 0;
                }

                &:nth-child(3n+1) {
                    margin-left: 0;
                }

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }

        &.full-width {
            > article {
                width: 100%;
                margin-top: $size-l;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

// If needed for more things than cards, change `> article` to `> *`
// I didn't want to use the expensive selector if it wasn't needed yet.
