@require '~variables';

.UserAvatar {
    display: inline-block;
    text-align: center;
    color: $text-primary-color;

    &__link {
        color: $text-primary-color;
        text-decoration: none;
    }

    &__image {
        $centeredBackgroundImage();
        border-radius: 100%;
        margin: auto;
    }

    &__name {
        margin: 0;
        padding: $size-m 0 0;
    }

    &__title {
        margin: 0;
        color: $text-secondary-color;
    }

    &--small {
        .UserAvatar__image {
            height: 2rem;
            width: @height;
        }
    }

    &--medium {
        .UserAvatar__image {
            height: 6rem;
            width: @height;
        }
    }

    &--large {
        .UserAvatar__image {
            height: 9rem;
            width: @height;
        }
    }
}
