@require '~variables';

.PostCard {
    border-radius: $baseBorderRadius;
    background-color: #FFF;
    box-shadow: -5px 5px 20px 0px #eee;
    position: relative;

    &__header {
        min-height: 9rem;
        color: #FFF;
        border-radius: $baseBorderRadius $baseBorderRadius 0 0;
        padding: $padding-m;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
    }

    &__time {
        float: left;
    }

    &__points {
        float: right;
    }

    &__main {
        padding: $padding-l;
        display: flex;
    }

    &__text {
        text-decoration: underline;
        font-size: 1.25rem;
        line-height: 1.4;
        margin: 0;
        padding: $padding-l;
    }

    &__category {
        position: absolute;
        bottom: $padding-m;
        right: @bottom;
    }

    &--has-header {
        .PostCard__main {
            padding-top: 6rem;
            position: relative;
        }

        .PostCard__text {
            padding-top: 4rem;
        }
    }
}
