@require '~variables';

.Header {
    width: 100%;
    background-color: #FFF;

    &__content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: $max-content-width;
        margin: auto;
    }
}
