@require '~variables';

.UserCard {
    border-radius: $base-border-radius;
    background-color: #FFF;
    box-shadow: $base-box-shadow;
    position: relative;
    padding: $size-m;
    text-align: center;
    display: inline-block;

    &__button-wrapper {
        padding: $size-l 0;
    }
}
