.SearchInput {
    background-color: #eee;
    border-radius: 4px;
    padding: 0.25rem;

    input {
        border: none;
        background: none;
        height: 100%;
        line-height: 24px;
        outline: none;
    }

    button {
        background: none;
        border: none;
        float: left;
    }
}
