@require 'variables';

html, body {
    font-size: 18px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: $text-primary-color;
}

body {
    background-color: $bg-secondary-color;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
}
