@require '~variables';

.EventCard {
    border-radius: $base-border-radius;
    background-color: #FFF;
    box-shadow: $base-box-shadow;
    position: relative;
    padding: $size-m;
    text-align: center;
    display: inline-block;

    &__button-wrapper {
        padding: $size-l 0;
    }

    &__image {
        border-radius: 100%;
        margin: $size-m auto;
        height: 4rem;
        width: @height;
        background-size: cover;
    }

    &__host {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: $size-m;
        padding-bottom: $size-s;
    }

    &__title {
        font-size: 1.25rem;
    }
}
