@require '~variables';

.CommentCard {
    border-radius: $base-border-radius;
    background-color: $bg-primary-color;
    box-shadow: $base-box-shadow;

    &__main {
        padding: $size-xxl;
        display: flex;
    }

    &__text {
        font-size: $size-l;
        line-height: 1.75;
        padding: 0;
        padding-left: $size-xxl;
    }
}
